/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
html {
  font-size: 62.5%;
}

header {
  display: flex;
  flex-direction: column;
  background-color: rgba(6,94,130);
  color: white;
  background-image: url("../img/Studio_Ghibli_logo.svg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.7rem;
  letter-spacing: 0.05em;
  background-image: none;
  background-color: transparent;
}

nav {
  display: flex;
  flex-direction: column;
  background-image: none;
  background-color: transparent;
}

ul {
  display: flex;
  /* justify-content: space-around; */  
  list-style: none;  
}

li {
  margin-left: 10%;
  width: 10%;
  flex: 0 0 auto;  
}

li > a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: white;
}

li > a:hover {
  color: lightseagreen;
}

main {
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 60vh;
}

.main-section-image {
  display: flex;
  flex-direction: row;
  margin-left: 10%;  
  height: 80%;
  width: 40%;
}

.movie-img {  
  max-width: 100%;
  max-height: 100%;
  margin-top: 8%;
}

.wrapper {
  position: relative;
}

#arrow-left {
  position: absolute;
  top: 150px;
  left: 10px;
  font-size: 2rem;  
  border: 1px solid lightblue;
  background-color: lightblue;
}

#arrow-right {
  position: absolute;
  top: 150px;
  right: 10px;
  font-size: 2rem;  
  border: 1px solid lightblue;
  background-color: lightblue;
}

.main-section-outer-details {
  height: 240px;
  width: 350px;
}

.main-section-details {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 400px;
  margin-left: 5%;
}

h3 {
  text-align: center;
  font-size: 1.75rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: inline-block;
}

.label, .value {
  display: inline;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.01;   
  color: white;
}

.value {
  margin-left: 5%;
}

.div-details {
  margin-bottom: 5%;
}

footer {
  height: 25vh;

  /* background-image: url("https://image.tmdb.org/t/p/w533_and_h300_bestv2/3cyjYtLWCBE1uvWINHFsFnE8LUK.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px 175px; */
  background-color: black;
}

footer > img {
  margin-left: 30%;
  height: max-content;
  width: max-content;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
